node_modules
**/node_modules
npm-debug.log
.git
.env
.env.local
package-lock.json
.DS_Store
*.sqlite
client/node_modules
server/node_modules
client/npm-debug.log
server/npm-debug.log
**/coverage
__MACOSX
*.lognode_modules
server/node_modules
server/database.sqlite
npm-debug.log
Dockerfile
.dockerignore
